.userBarPopover {
  position: absolute;
  width: 140px;
  padding: 14px 20px;
  border-radius: 15px;
  background-color: var(--color-button);
  box-shadow: var(--color-box-shadow);
  font-size: 14px;
  line-height: 1.49;
  font-weight: 700;
  /* transform: translateX(-20px); */
  transform: translate(-20px, -200px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.userBarPopoverList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.userBarPopoverListItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: var(--color-text-main);
  cursor: pointer;
}
.userBarPopoverListItem svg {
  width: 16px;
  height: 16px;
  stroke: var(--color-text-main);
  fill: none;

}
.userBarPopoverListItem:hover {
  color: var(--color-text-secondary);
}
.userBarPopoverListItem:hover > svg {
  stroke: var(--color-text-secondary);
}

.fadeIn {
  opacity: 1;
  transform: translate(-20px, 0px);
}
/* .userBarPopoverIconSettings {
  width: 16px;
  height: 16px;
  fill: none;
}

.userBarPopoverIconLogOut {
  width: 16px;
  height: 16px;
  stroke: var(--color-font-main);
  fill: none;
}
.userBarPopoverListItemLogOut:hover > .userBarPopoverIconLogOut {
  stroke: var(--color-text-secondary);
} */
