.userBarPopover {
  position: absolute;
  padding: 14px 20px;
  border-radius: 15px;
  background-color: var(--color-button);
  box-shadow: var(--color-box-shadow);
  font-size: 14px;
  line-height: 1.49;
  font-weight: 700;
  width: max-content; /* Автоширина */
  left: 50%; /* Центрування */
  transform: translateX(-50%) translateY(-200px); /* Центрування по X */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateX(-50%) translateY(0px); /* Анімація з центру */
}

.userBarPopoverList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userBarPopoverListItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text-main);
  cursor: pointer;
  white-space: nowrap; /* Не переносити текст */
}

.userBarPopoverListItem svg {
  width: 16px;
  height: 16px;
  stroke: var(--color-text-main);
  fill: none;
}

.userBarPopoverListItem:hover {
  color: var(--color-text-secondary);
}

.userBarPopoverListItem:hover > svg {
  stroke: var(--color-text-secondary);
}

.themeSunIcon {
  transform: translateX(-1px) scale(1.1);
}
.iconparameters, .themeMoonIcon {
  transform: translateX(-1px);
}

.languageButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  /* margin-right: 8px; */
  color: var(--color-text-main);
  padding: 4px 6px;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.languageButton:hover {
  background-color: var(--color-text-secondary);
  color: var(--color-button);
}

.userBarPopoverListItemLanguage {
  justify-content: center;
}