.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--color-main-bg);
  width: 100%;
  text-align: center;
}
.welcomeSectionContainer {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.welcomeSectionDescribe {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}
.welcomeSectionTitle {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  width: 100%;
  margin-bottom: 32px;
}
.welcomeSectionLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.welcomeSectionLink {
  font-weight: 700;
  font-size: 17px;
  line-height: 121%;
  text-align: center;
  background-color: var(--color-primary);
  padding: 14px 19px;
  border-radius: 15px;

  border: 1px solid var(--color-primary);
}
.welcomeSectionLinkSignup:hover,
.welcomeSectionLinkSignup:focus {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-hover);
  color: var(--color-text-main);
}
.welcomeSectionLinkSignin {
  border: 1px solid var(--color-primary);
  background-color: transparent;
}
.welcomeSectionLinkSignin:hover,
.welcomeSectionLinkSignin:focus {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-hover);
  color: var(--color-text-main);
}
@media screen and (min-width: 600px) {
  .welcomeSection {
   text-align: left;
  }
  .welcomeSectionLinks {
    justify-content: flex-start;
  }
}
