.advantagesSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
  border-radius: 30px;
  width: 100%;
  height: 353px; /* мобільна висота */
  overflow: hidden;
  color: #fff;

  background-image: url("/img/bg/0b78defe-74c0-4341-b93d-3f3b210d1e74.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: var(--color-box-shadow-main-photo);
}

.advantagesSection > * {
  position: relative;
  z-index: 1;
}

.userCount {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-icon);
  color: var(--color-text-main);
  box-shadow: var(--color-box-shadow-user-count);
  padding: 10px 20px;
  border-top-left-radius: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  /* поки залишаю пусто */
}

@media screen and (min-width: 1440px) {
  .advantagesSection {
    height: 736px; /* десктоп висота */
  }
}
