.languageSwitcher {
  width: fit-content;
  position: relative;
}

.currentLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  background-color: var(--color-primary);
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text-main);
}

.icon {
  fill: none;
  stroke: var(--color-text-main);
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.icon.isOpen {
  transform: rotate(180deg);
}
