

.recipe_item_content {
  background-color: var(--color-bg-card);
  border-radius: 16px;
  color: var(--color-text-main);
  display: flex;
  gap: 20px;
  transition: background-color var(--transition-main);
  z-index: 1;
}

.recipe_item_content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.recipeImage {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-border);
}

.recipeImage img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.uploadContainer {
  position: absolute;
  background-color: var(--color-uploadContainer);
  color: var(--color-text-main);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 90%;
  height: 30px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  border: 1px solid var(--color-border-textarea);
}

.uploadContainer .icon {
  width: 16px;
  height: 16px;
  fill: var(--color-text-main);
  stroke: var(--color-text-main);
}

.hideBtn {
  display: none;
}

ul {
  padding-left: 20px;
  margin: 10px 0;
  color: var(--color-text-secondary);
  display: flex; 
  gap: 8px;
  margin: 0;
  padding: 0;
}

p {
  color: var(--color-text-secondary);
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.container_buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
  position: absolute;
  bottom: 25px;
  right: 13px;
}

.editButton,
.favoriteButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform var(--transition-main);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  border-radius: 5px;
}

.editButton:hover,
.favoriteButton:hover,
.deleteButton:hover {
  transform: scale(1.1);
  background-color: var(--color-button-hover);
}


.favoriteButton svg {
  transform: translate(.8px, .8px);
}
.icon_action{
  fill: var(--color-icon-inactive);
  stroke: var(--color-icon-inactive);
  transition: fill var(--transition-main);
}

.icon_favorite_active {
  fill: var(--color-favorite);
  stroke: var(--color-favorite);
}

.loader,
.fullOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
}


.recipeDetails {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.recipeDetails p {
  margin: 0;
}
.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}
.truncatedH2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 390px;
}

.empty {
  opacity: 0.5;
  font-style: italic;
}
