.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding: 24px 16px 67px;
  background-color: var(--color-main-bg);
  width: 100%;
  height: 736px;
  min-width: 672px;
  margin: 0;
}

.signUpFormTitle {
  font-size: 32px;
  margin-bottom: 32px;
  display: flex;
  gap: 30px;
}


.signUpFormInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.signUpFormLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
}

.signUpFormInput {
  width: 100%;
  height: 50px;
  border: 1px solid var(--color-border-textarea);
  border-radius: 15px;
  outline: none;
  padding: 16px;
  background-color: var(--color-textarea-bg);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font-main);
}
.signUpFormInput:focus {
  border-color: var(--color-primary);
  box-shadow: var(--color-main-box-shadow);
}

.signUpFormInputError {
  color: var(--color-error);
  border-color: var(--color-error);
}

.signUpFormInputErrorMessage {
  color: var(--color-error);
  font-weight: 400;
}

.signUpFormIconInputWrapper {
  position: relative;
}

.signUpFormButtonContainer {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
  margin-top: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.signUpFormButton {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  border: none;
  border-radius: 15px;
  color: var(--color-text-main);
  font-weight: 700;
  line-height: 1.28571;
  width: 80%;
  border: 1px solid var(--color-button);
}

.signUpFormButtonDisabled {
  border: none;
  background-color: transparent;
}

.signUpFormButtonDisabled:hover {
  background-color: transparent;
}

.signUpFormButton:hover + .signUpFormButtonDisabled {
  background-color: transparent;
}

.signUpFormButton:hover,
.signUpFormButton:focus {
  background-color: var(--color-button-hover);
}

.signUpFormIconButton {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.signUpFormInputIcon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--color-font-second);
}

