.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding: 24px 16px 40px;
  background-color: var(--color-main-bg);
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.signInFormTitle {
  font-size: 28px;
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: start;
  text-align: center;
  justify-content: start;
}

.signInFormInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.signInFormLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
}

.signInFormInput {
  width: 100%;
  height: 50px;
  border: 1px solid var(--color-border-textarea);
  border-radius: 15px;
  padding: 14px 16px;
  background-color: var(--color-textarea-bg);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font-main);
  outline: none;
}
.signInFormInput:focus {
  border-color: var(--color-primary);
  box-shadow: var(--color-main-box-shadow);
}

.signInFormInputError {
  border-color: var(--color-error);
}

.signInFormInputErrorMessage {
  color: var(--color-error);
  font-weight: 400;
  font-size: 14px;
}

.signInFormIconInputWrapper {
  position: relative;
}

.signInFormIconButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.signInFormInputIcon {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: var(--color-font-second);
}

.signInFormButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}

.signInFormButton {
  width: 100%;
  padding: 14px;
  background-color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 15px;
  color: var(--color-text-main);
  font-weight: 700;
  line-height: 1.28;
  cursor: pointer;
}

.signInFormButton:hover,
.signInFormButton:focus {
  background-color: var(--color-button-hover);
}

.signInFormButtonDisabled {
  background-color: transparent;
  border: none;
  color: var(--color-font-main);
  cursor: not-allowed;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .signInForm {
    padding: 32px 40px;
    max-width: 560px;
  }

  .signInFormTitle {
    font-size: 32px;
    justify-content: space-between;
    text-align: left;
  }

  .signInFormButtonContainer {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .signInFormButton {
    width: auto;
    min-width: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .signInForm {
    padding: 40px 64px;
    max-width: 672px;
  }

  .signInFormTitle {
    font-size: 38px;
  }

  .signInFormButton {
    font-size: 18px;
  }
}
